/** Provide Easier Contrast for Hovering on Links **/
.nav a:hover, a:focus, a:active {
    text-decoration: underline;
    text-decoration-thickness: .15rem;
    text-decoration-skip-ink: auto;
}
span a:hover, a:focus, a:active {
    text-decoration: underline;
    text-decoration-thickness: .15rem;
}

/** Prevent Social Media Icons From Having Underline After Clicking **/
.social-icons a {
    text-decoration: none;
}